<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Plantilla Template</title>
</head>
<body>
    <h1>Prueba desde Template</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit consectetur quisquam vitae dignissimos possimus blanditiis corrupti ratione autem saepe impedit! Unde est quos tempore earum porro eius nisi dignissimos aliquid?
    Sit iure dolorum quas mollitia est, labore porro. Expedita, perspiciatis in quia sequi iusto deserunt libero dolorem odio. Similique nemo dolores quibusdam eveniet molestias perspiciatis placeat est cum suscipit magnam!
    Illum quibusdam totam, illo, sunt doloremque quisquam quod nam unde impedit possimus cumque reiciendis beatae nostrum. Sit a modi expedita mollitia asperiores explicabo architecto libero natus accusamus, dolor unde odit!
    Autem neque repellendus architecto fugiat repudiandae atque accusamus. Eaque, nam doloremque animi sapiente quam omnis temporibus quasi fugit vero minus soluta distinctio quidem laboriosam earum dolorum similique? Autem, ut perferendis.
    Voluptas magnam quam sunt numquam iure laudantium nemo aut aliquid reprehenderit veritatis quos, obcaecati consequatur optio natus minima quis expedita labore dolore! Eius, facilis sunt explicabo aperiam architecto consequatur asperiores.</p>
</body>
</html>